* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f0f2f5;
  position: relative;
  height: 115vh;
  overflow-x: hidden;
}
#container {
  display: flex;
}
#Recent-Login {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20vw;
  top: 13vh;
  margin-right: 30vw;
}
#Facebook {
  height: 70px;
  width: 198px;
  margin: -20px;
}
#Recent-Login > #title {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 5px;
}
#Recent-Login > #subtitle {
  color: #606770;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 20px;
  font-weight: 400px;
}
#cards {
  display: flex;
}
#card-1,
#card-2 {
  position: relative;
  background-color: white;
  margin-right: 10px;
  border-radius: 5px;
  margin-right: 20px;
}
#card-1:hover,
#card-2:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s;
  object-fit: cover;
}
#card-1-img,
#card-2-img {
  height: 160px;
  width: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#Add-account {
  color: #6e0ba3;
}
.Username {
  font-size: 16px;
  line-height: 22px;
  padding: 12px;
  text-align: center;
  color: rgb(75, 79, 86);
}
#cancel-button {
  position: absolute;
  left: 8px;
  color: white;
  top: 5px;
  border-radius: 50%;
  height: 20px;
  text-align: center;
  width: 20px;
  background-color: rgb(63, 62, 62);
  opacity: 0.5;
}
#card-1:hover #cancel-button {
  background-color: white;
  opacity: 1;
  color: rgb(194, 193, 193);
  height: 25px;
  width: 25px;
  line-height: 22px;
  top: -5px;
  left: -5px;
  font-size: 25px;
  transition: 0.3s;
  object-fit: cover;
}
#Login {
  position: relative;
  background-color: #ffffff;
  height: 350px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  top: 18vh;
  justify-content: flex-start;
  padding: 10px 10px 20px 10px;
  align-items: center;
  box-shadow: 0 5px 5px 3px gainsboro;
}
#Login > a {
  margin: 18px 0;
  text-decoration: none;
  font-size: 15px;
  color: blue;
}
#Login > a:hover {
  text-decoration: underline;
  cursor: pointer;
}
hr {
  width: 95%;
  height: 0.1%;
  background-color: rgb(194 193 193);
  border: none;
}
#Login > input[type="Email"],
#Login > input[type="Password"] {
  height: 35%;
  margin: 8px 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  width: 95%;
  border: 1.5px solid #eceff0;
}
#Login > input[type="Password"] {
  margin-bottom: 12px;
}
#Login > input[type="Email"]:focus,
#Login > input[type="Password"]:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0 0 5px blue;
  caret-color: blue;
}
#login-button {
  background-color: #123456;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  height: 120px;
  font-weight: bold;
  width: 95%;
}
#login-button:hover {
  background-color: blue;
  cursor: pointer;
}
#Create-new-account {
  background-color: #fff123;
  color: #000123;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  height: 100px;
  font-weight: bold;
  width: 60%;
  margin-top: 20px;
}
#Create-new-account:hover {
  background-color: #fff111;
  cursor: pointer;
}
p {
  font-size: 15px;
  position: absolute;
  bottom: -55px;
}
footer {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 20px;
  color: #a6a8aa;
  font: 12px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  word-spacing: 12px;
  list-style: 20px;
}
@media screen and(max-width:1114px) {
  #Recent-login {
    left: 70px;
    margin-right: 22vw;
  }
  #Login {
    right: 30px;
  }
}
@media screen and (max-width: 900px) {
  body {
    height: 150vh;
  }
  #container {
    flex-direction: column;
    align-items: centre;
    justify-content: center;
  }
  #Recent-login {
    margin-right: 0;
    align-items: center;
    left: 0;
    top: 20px;
  }
  #card-1 {
    margin-right: 5px;
  }
  #card-2 {
    margin-left: 5px;
    margin-right: 0px;
  }
  #Login {
    text-align: center;
    left: 0;
    margin-right: 0;
    margin-top: -30px;
    top: 80px;
  }
  #Recent-login,
  #Login {
    position: relative;
  }
  footer {
    position: absolute;
    padding: 20px;
    width: 100vw;
  }
}
@media screen and (max-height: 670px) {
  footer {
    position: relative;
    top: 100px;
  }
}
